@import url('https://fonts.googleapis.com/css2?family=Alata&family=Comfortaa&family=Indie+Flower&family=Open+Sans+Condensed:wght@300&display=swap');

@import './components/Checkout.scss';
@import './components/Customize.scss';
@import './components/Header.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
